<!DOCTYPE html>
<html>
<head lang="en">

    <title>InsightApp</title>

    <!--/*/ <th:block th:include="fragments/headerinclude :: head"></th:block> /*/-->
</head>
<body>

<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
     <!-- Example row of columns -->
      <div class="row">

        <div class="col-lg-6">
          <h2>Culture</h2>
          <p>Give me six hours to chop down a tree and I will spend the first four sharpening the axe. – Abraham Lincoln</p>
          <p><a class="btn btn-lg btn-success" href="#" role="button">See Culture Deck!</a></p>
       </div>
        <div class="col-lg-6">
          <h2>Policies</h2>
          <p>Take up one idea. Make that one idea your life - think of it, dream of it, live on that idea. Let the brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea alone. This is the way to success.
 			- Swami Vivekanand</p>
          <p><a class="btn btn-success" href="#" role="button">See Innovation Labs!</a></p>
        </div>
      </div>
</div>
</body>
</html>